<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Welcome TO ALSULK Newsletter</h2>
    
    <p>
        Thank you for your interest in our [Your Company Name] newsletter! We've received your subscription request and will process it as soon as possible.
    </p>

    <p>
        Once approved, you will start receiving our weekly updates, filled with valuable insights and information concerning all the Libirian Students Association in ULK.
    </p>
    <p><a href="{{link}}">Click</a></p>
    <p>
        Please note that it may take up to 24 hours for the subscription to become active. If you don't receive a confirmation email within this time frame, please check your spam folder.
    </p>


    <p>
        Thank you for your patience and support.
    </p>

    <p>
        
    </p>



</body>
</html>